.footer {
    padding: 16px 8px 24px;
    position: relative;
    color: rgba(22,24,35,0.5);
    display: flex;
    flex-wrap: wrap;
    line-height: 2;
}

.pageLink {
    margin: 5px 6px 0 0;
    color: #16182380;
    font-size: 1.2rem;
    font-weight: 500;
    &:hover {
        text-decoration: underline;
    }
}